In [2]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/gdrive') # подключение моего гугл-диска

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [5]:
from google.colab import drive
drive.mount('/gdrive') # подключение моего гугл-диска
#################################################################
df=pd.read_csv('/gdrive/MyDrive/ITMO_2025/titanic.csv') # чтение файла 'titanic.csv'
df.head()
#################################################################
df.info() # основная информация о датасете
#################################################################
survival=df.groupby('Pclass')['Survived'].mean()*100 # процент выживаемости по классам пассажиров
print(survival.round(1))
#################################################################
import re

def extract_name(full_name): # извлечение имени
  match=re.search(r'([A-Za-z]+)\.\s+([A-Za-z]+)', full_name)
  return match.group(2).split()[0] if match else None

df['FirstName']=df['Name'].apply(extract_name)

names_by_sex=df.groupby(['Sex'])['FirstName'] \
    .apply(lambda x: x.mode()[0] if not x.empty else None)  # фильтрация по женскому\мужскому имени

names_by_class_sex=df.groupby(['Pclass', 'Sex'])['FirstName'] \
    .apply(lambda x: x.mode()[0] if not x.empty else None)  # фильтрация по имени в каждом классе

print(names_by_sex)
print(names_by_class_sex)
#################################################################
df_age_above_44=df[df['Age']>44] # пассажиры, возраст которых больше 44 лет

print(df_age_above_44.head())
#################################################################
df_mail_below_44=df[(df['Age']<44) & (df['Sex']=='male')] # пассажиры мужского пола, возраст которых меньше 44 лет

print(df_mail_below_44.head())
#################################################################
df_cabin=df.dropna(subset=['Cabin']) # удаляем пропуски в каютах

cabin_counts=df_cabin['Cabin'].value_counts() # подсчет кол-ва пассажиров в каждой каюте
n_seat_cabins=cabin_counts.value_counts().sort_index() # подсчет кают с 1,2,3 пассажира

print(n_seat_cabins)

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
Pclass
1    63.0
2    47.3
3    24.2
Name: Survived, dtype: float64
Sex
female    William
male      William
Name: FirstName, dtype: object
Pclass  Sex
1       female    Elizabeth
        male        William
2       female      William
        male        William
3       female         Anna
        male        William
Name: FirstName, dtype: object
    PassengerId  Survived  Pclass                                      Name  \
6             7         0       1                   McCarthy, Mr. Timothy J
11           12         1       1                  Bonnell, Miss. Elizabeth
15           16         1       2          Hewlett, Mrs. (Mary D Kingcome)
33           34         0       2                     Wheadon, Mr. Edward H
52           53         1       1  Harper, Mrs. Henry Sleeper (Myna Haxtun)

       Sex   Age  SibSp  Parch      Ticket     Fare Cabin Embarked  FirstName
6     male  54.0      0      0       17463  51.8625   E46        S    Timothy
11  female  58.0      0      0      113783  26.5500  C103        S  Elizabeth
15  female  55.0      0      0      248706  16.0000   NaN        S       None
33    male  66.0      0      0  C.A. 24579  10.5000   NaN        S     Edward
52  female  49.0      1      0    PC 17572  76.7292   D33        C      Henry
    PassengerId  Survived  Pclass                            Name   Sex   Age  \
0             1         0       3         Braund, Mr. Owen Harris  male  22.0
4             5         0       3        Allen, Mr. William Henry  male  35.0
7             8         0       3  Palsson, Master. Gosta Leonard  male   2.0
12           13         0       3  Saundercock, Mr. William Henry  male  20.0
13           14         0       3     Andersson, Mr. Anders Johan  male  39.0

    SibSp  Parch     Ticket    Fare Cabin Embarked FirstName
0       1      0  A/5 21171   7.250   NaN        S      Owen
4       0      0     373450   8.050   NaN        S   William
7       3      1     349909  21.075   NaN        S     Gosta
12      0      0  A/5. 2151   8.050   NaN        S   William
13      1      5     347082  31.275   NaN        S    Anders
count
1    101
2     38
3      5
4      3
Name: count, dtype: int64